image: Visual Studio 2022
skip_tags: true
platform: x64
configuration: Release

branches:
  only:
    - master

install:
  - nuget restore

build_script:
  - dotnet publish Installer/Setup.csproj -c Release -r win-x64 -p:PublishSingleFile=true -p:SelfContained=true

artifacts:
  # Installer EXE
  - path: Installer/bin/Release/net8.0-windows/win-x64/publish/AOL 4.0 Emu Setup.exe
    name: Installer

  # Upload the aol_4 EXE as "Latest"
  - path: aol_4/bin\windows\Release\net8.0-windows*\*
    name: Latest

deploy:
  - provider: GitHub
    tag: $(APPVEYOR_BUILD_ID)
    release: Build $(APPVEYOR_REPO_COMMIT_TIMESTAMP)
    description: |
      Latest Compile Date %APPVEYOR_REPO_COMMIT_TIMESTAMP%
      %APPVEYOR_REPO_COMMIT_MESSAGE%
    auth_token:
      secure: fGvksY5wIwuWGimQncSWs2w1d7KrrErQ05CCNYnd/Q5i8zxiczeIwvhA8gDjWGy+
    artifact: Latest, Installer