image: Visual Studio 2022
skip_tags: true
platform: Any CPU
configuration: Release

branches:
  only:
    - master

skip_commits:
  message: /\[skip ci\]|\[ci skip\]/

install:
  # Download and install the Installer Projects extension
  - ps: |
      Write-Host "Downloading Visual Studio Installer Projects extension..."
      $vsixUrl = "https://marketplace.visualstudio.com/_apis/public/gallery/publishers/VisualStudioClient/vsextensions/MicrosoftVisualStudio2022InstallerProjects/2.0.1/vspackage"
      $vsixPath = "$env:TEMP\InstallerProjects.vsix"
      Invoke-WebRequest -Uri $vsixUrl -OutFile $vsixPath
      
      Write-Host "Installing extension..."
      $vsixInstaller = "C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\VSIXInstaller.exe"
      Start-Process -FilePath $vsixInstaller -ArgumentList "/quiet", $vsixPath -Wait -NoNewWindow
      
      Write-Host "Verifying installation..."
      Start-Sleep -Seconds 5

before_build:
  - nuget restore

build_script:
  # Build main project
  - dotnet build aol_4/aol_4.csproj -c Release

  # Build MSI installer - try rebuilding to force it
  - '"C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\devenv.com" Installer\Installer.vdproj /rebuild Release'

after_build:
  # Show what files exist in Installer directory
  - ps: |
      Write-Host "=== Contents of Installer directory ==="
      Get-ChildItem -Path "Installer" -Recurse -File | Select-Object FullName
      Write-Host "=== Looking for MSI files ==="
      Get-ChildItem -Path "Installer" -Recurse -Filter "*.msi" -ErrorAction SilentlyContinue | Select-Object FullName

artifacts:
  - path: aol_4\bin\windows\Release\net8.0-windows10.0.22621.0
    name: Latest
  - path: Installer\Release\*.msi
    name: Installer

deploy:
  - provider: GitHub
    tag: $(APPVEYOR_BUILD_ID)
    release: Build $(APPVEYOR_REPO_COMMIT_TIMESTAMP)
    description: |
      Latest Compile Date %APPVEYOR_REPO_COMMIT_TIMESTAMP%
      %APPVEYOR_REPO_COMMIT_MESSAGE%
    auth_token:
      secure: fGvksY5wIwuWGimQncSWs2w1d7KrrErQ05CCNYnd/Q5i8zxiczeIwvhA8gDjWGy+
    artifact: Latest, Installer