image: Visual Studio 2022
skip_tags: true
platform: Any CPU
configuration: Release

branches:
  only:
    - master

skip_commits:
  message: /\[skip ci\]|\[ci skip\]/

install:
  # Install Visual Studio Installer Projects extension
  - ps: |
      $installerUrl = "https://marketplace.visualstudio.com/_apis/public/gallery/publishers/VisualStudioClient/vsextensions/MSBuildProjectTypeDefinitions/17.0.0/vspackage"
      $installerPath = "$env:TEMP\InstallerProjects.vsix"
      Invoke-WebRequest -Uri $installerUrl -OutFile $installerPath
      Start-Process -FilePath "C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\Common7\IDE\VSIXInstaller.exe" -ArgumentList "/quiet /admin $installerPath" -Wait

before_build:
  - nuget restore

build_script:
  # Build main project
  - dotnet build aol_4/aol_4.csproj -c Release

  # Build MSI installer
  - '"C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\MSBuild\Current\Bin\MSBuild.exe" Installer/Installer.vdproj /p:Configuration=Release'

artifacts:
  - path: aol_4/bin/Release/
    name: Latest
  - path: Installer/Release/*.msi
    name: Installer

deploy:
  - provider: GitHub
    tag: $(APPVEYOR_BUILD_ID)
    release: Build $(APPVEYOR_REPO_COMMIT_TIMESTAMP)
    description: |
      Latest Compile Date %APPVEYOR_REPO_COMMIT_TIMESTAMP%
      %APPVEYOR_REPO_COMMIT_MESSAGE%
    auth_token:
      secure: fGvksY5wIwuWGimQncSWs2w1d7KrrErQ05CCNYnd/Q5i8zxiczeIwvhA8gDjWGy+
    artifact: Latest, Installer