image: Visual Studio 2022
skip_tags: true
platform: Any CPU
configuration: Release

branches:
  only:
    - master

skip_commits:
  message: /\[skip ci\]|\[ci skip\]/

install:
  # Download and install the Installer Projects extension from Marketplace
  - ps: |
      Write-Host "Downloading Visual Studio Installer Projects extension..."
      $vsixUrl = "https://marketplace.visualstudio.com/_apis/public/gallery/publishers/VisualStudioClient/vsextensions/MicrosoftVisualStudio2022InstallerProjects/2.0.1/vspackage"
      $vsixPath = "$env:TEMP\InstallerProjects.vsix"
      $progressPreference = 'silentlyContinue'
      Invoke-WebRequest -Uri $vsixUrl -OutFile $vsixPath
      Write-Host "Installing extension..."
      & "C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\VSIXInstaller.exe" /quiet /admin $vsixPath
      if ($LASTEXITCODE -ne 0) { throw "VSIX installation failed" }
      Write-Host "Extension installed successfully"

before_build:
  - nuget restore

build_script:
  # Build main project
  - dotnet build aol_4/aol_4.csproj -c Release

  # Build MSI installer
  - msbuild Installer/Installer.vdproj /p:Configuration=Release

artifacts:
  - path: aol_4/bin/Release/
    name: Latest
  - path: Installer/Release/*.msi
    name: Installer

deploy:
  - provider: GitHub
    tag: $(APPVEYOR_BUILD_ID)
    release: Build $(APPVEYOR_REPO_COMMIT_TIMESTAMP)
    description: |
      Latest Compile Date %APPVEYOR_REPO_COMMIT_TIMESTAMP%
      %APPVEYOR_REPO_COMMIT_MESSAGE%
    auth_token:
      secure: fGvksY5wIwuWGimQncSWs2w1d7KrrErQ05CCNYnd/Q5i8zxiczeIwvhA8gDjWGy+
    artifact: Latest, Installer