<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.4" targetFramework="net461" />
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net461" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="69.0.0" targetFramework="net461" />
  <package id="MailKit" version="2.1.1" targetFramework="net461" />
  <package id="MimeKit" version="2.1.1" targetFramework="net461" />
</packages>