<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.4" targetFramework="net461" />
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net461" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="69.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="MailKit" version="2.1.2" targetFramework="net461" />
  <package id="MimeKit" version="2.1.2" targetFramework="net461" />
  <package id="SimpleIRCLib" version="2.2.1" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
</packages>