<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net461" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net461" />
  <package id="CefSharp.Common" version="75.1.141" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="75.1.141" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="MailKit" version="2.3.0" targetFramework="net461" />
  <package id="MimeKit" version="2.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="ServiceStack.Text" version="5.6.0" targetFramework="net461" />
  <package id="SimpleIRCLib" version="2.2.1" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="WeatherNet" version="2.1" targetFramework="net461" />
</packages>